*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

.back{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #38432A;

}
.container{
    width: 90%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    border-radius: 10px;
}
.formImage{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #9CB491;
    border-radius: 10px;
    background-image: linear-gradient( to right, #85a579, transparent, #55ac72);
}

.img{
  width: 80px;
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 3rem;
    border-radius: 10px;
}

.formHeader{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.loginButton{
    display: flex;
    align-items: flex-end;
    width: 20%;

    &__button{
        border: none;
        background-color: white;
        padding: 0.4rem 1rem;
        align-items: flex-end;
        border-radius: 5px;
        cursor: pointer;
        border-style: solid;
        border-width: 2px;
        border-color: #319435;
        color: #0d7135;
        width: 100%;
    }
    &__button:hover {
        background-color: #1c884b;
        border-color: #18b96e;
        color: white   ;
    }
    &__text{
        font-size: 13px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
    }

}
.h1{
    font-size: xx-large;
    font-family: 'Kanit', sans-serif;
    font-weight: bolder;
}
.h1::after {
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #2b983a;
    margin-top: 0%;
    align-items: center;
    text-align: left;
    border-radius: 10px;
}

.avatarSpace {
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
}
.avatarBox{
  align-items: center;
    display: flex;
    margin-bottom: 3rem;
}

.inputGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 2;
}
.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    &__input{
        margin: 0.0rem 0;
        padding: 0.8rem 1.2rem;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 1px 6px #0000001c;
    }
    &__input:hover{
        background-color: rgb(236, 234, 234);
    }
    &__input:focus-visible{
        outline: 1px solid #308015;
    }
    &__input::placeholder{
        color: #243517be;
    }


    &__label{
        font-size: 1rem;
        padding: 10px;
        align-items: flex-start;
        font-weight: 600;
        color: #163015c0;
    }
}
.continueButton{

    &__btn{
        width: 100%;
        border-style: solid;
        border-width: 2px;
        border-color: #317147;
        background-color: #3e6927;
        padding: 0.62rem;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        font-weight: 900;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
    &__btn:hover{
        background-color: white;
        border-style: solid;
        border-width: 2px;
        border-color: #38886a;
        color: #428f5d;
    }
}


@media screen and (max-width: 1330px){
    .formImage{
        display: none;
    }
    .container{
        width: 50%;
    }
    .form{
        width: 100%;
    }
    .loginButton{
        justify-content: center;
        align-items: center;

        &__button{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__text{
            font-size: 10px;
        }
    }
}
@media screen and (max-width: 1064px) {
    .container{
        width: 90%;
        height: auto;
    }
    .inputGroup{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

}
