@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.house {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  &__text {
    position: static;
    margin-top: 200px;
    font-weight: bold;
    font-style: normal;
    font-size: 65px;
    font-family: 'Libre Baskerville', serif;
    padding-top: 80px;
    padding-left: 120px;
    display: flex;
    color: #264A2C;
  }

   &__ellipse {
     flex-direction: row;
     align-content: flex-end;
     margin-left: 50%;
     margin-top: 350px;
     width: 50%;
     height: 500px;
     position: absolute;
   }
}


.green_button {
  background-color: #5B816E;
  color:aliceblue;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  margin-top: 250px;
  margin-left: 60px;
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
    width: 240px;
    height: 55px;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    margin-top: 250px;
    margin-left: 120px;
    cursor: pointer;
}



