@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.sobre{
  background: none;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 15px;

  &__h1{
    padding-top: 30px;
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
    font-weight: 600;
  }
  &__h3{
    padding-top: 30px;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    font-display: swap;

  }
}
